@import "tailwindcss";


/* Animations personnalisées */
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
 
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.animate-file-upload {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
 
.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
